<p-card
  header="{{ userProfile.DisplayName }}"
  class="w-100"
>
  <ng-template pTemplate="header">
    <div class="d-flex justify-content-center">
      <img alt="Card" src="{{ userProfile.ImageUrl }}" style="width: 25%" />
    </div>
  </ng-template>
  <div class="container">
    <div class="row">
      <p-card header="Top Songs" class="col-6" [style]="{ width: '100%' }">
        <p-table
          [value]="userTopTracks"
          selectionMode="single"
          (onRowSelect)="onRowSelect(1, $event)"
        >
          <ng-template pTemplate="header">
            <tr>
              <th colspan="1"></th>
              <th>Track</th>
              <th>Artist</th>
              <!-- <th>Album</th> -->
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-track>
            <tr [pSelectableRow]="track">
              <td><img alt="Album Image" src="{{ track.AlbumImage }}" /></td>
              <td>{{ track.TrackName }}</td>
              <td>{{ track.ArtistName }}</td>
              <!-- <td>{{ track.Album }}</td> -->
            </tr>
          </ng-template>
        </p-table>
      </p-card>
      <p-card header="Top Artists" class="col-6" [style]="{ width: '100%' }">
        <p-table
          [value]="userTopArtists"
          selectionMode="single"
          (onRowSelect)="onRowSelect(2, $event)"
        >
          <ng-template pTemplate="header">
            <tr>
              <th colspan="1"></th>
              <th>Artist</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-artist>
            <tr [pSelectableRow]="artist">
              <td><img alt="Artist Image" src="{{ artist.Image }}" style="height: 64px; width: 64px"/></td>
              <td>{{ artist.ArtistName }}</td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="flex gap-3 mt-1"></div>
  </ng-template>
</p-card>

<!-- Modals -->
 <p-dialog [modal]="true" [(visible)]="modalVisible">
  <ng-template pTemplate="headless">
    <app-track-details *ngIf="modalShown == 1" [inTrackDetail]="outTrackDetail" (outModalState)="modalShown = $event" (outModalVisible)="modalVisible = $event"></app-track-details>
    <app-artist-details *ngIf="modalShown == 2" [inArtistDetail]="outArtistDetail" (outModalState)="modalShown = $event" (outModalVisible)="modalVisible = $event"></app-artist-details>
  </ng-template>
 </p-dialog>