<!-- <ng-container *ngIf="vm$ | async as vm"> -->
    <nav >
      <ul>
        <li>
          <a
            routerLink="/home"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Home</a
          >
        </li>
        <li>
          <a
            routerLink="/user-profile"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >User Profile</a
          >
        </li>
        <li>
          <a
            routerLink="/search"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Search</a
          >
        </li>
      </ul>
    </nav>    
<!-- </ng-container> -->
<router-outlet></router-outlet>
<app-player></app-player>